---
import Layout from "../../layouts/Layout.astro";
import ContentLayout from "../../layouts/ContentLayout.astro";
import { getCollection } from "astro:content";
import Prose from "../../components/Prose.astro";
const posts = await getCollection("posts");
const { slug } = Astro.params;
const post = posts.find((post) => post.slug === slug);

if (!post) {
    throw new Error(`Post not found for slug ${slug}`);
}

export async function getStaticPaths() {
    const posts = await getCollection("posts");
    return posts.map((post) => ({
        params: { slug: post.slug },
    }));
}

import { formatDate } from "../../utils/formatDate";
const { Content } = await post.render();
---

<Layout title={post.data.title}>
    <ContentLayout title={post.data.title}>
        <a
            href="/posts/"
            class="absolute right-0 top-0 text-2xl text-white bg-blue-500 px-4 py-1 rounded-lg duration-300 hover:bg-blue-400"
        >
            Back to Posts
        </a>
        <p class="mt-8 text-2xl">
            Published {formatDate(post.data.date)}
        </p>
        <article class="mt-8">
            <Prose>
                <Content />
            </Prose>
        </article>
    </ContentLayout>
</Layout>
