---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import PostCard from "../../components/PostCard.astro";
const posts = await getCollection("posts");

const formatDate = (date: Date) => {
    const formattedDate = new Intl.DateTimeFormat("en-US", {
        year: "numeric",
        month: "long",
        day: "numeric",
    }).format(date);
    return formattedDate;
};
---

<Layout title="Posts">
    <div class="flex justify-center">
        <div class="w-3/4">
            <h1 class="text-5xl font-semibold">Posts</h1>
            <div class="mt-8">
                <p class="text-2xl leading-relaxed">
                    This is a collection of writings I have done about my
                    projects and various other topics that I am interested in.
                    Feel free to reach out about anything you see here through
                    the Contact page!
                </p>
                {
                    posts.map((post) => (
                        <PostCard
                            title={post.data.title}
                            date={post.data.date}
                            description={post.data.description}
                            slug={post.slug}
                        />
                    ))
                }
            </div>
        </div>
    </div>
</Layout>
