---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <div class="flex justify-center">
        <div class="w-[1100px]">
            <div>
                <div class="text-5xl">About</div>
                <div class="text-2xl mt-8 leading-relaxed">
                    <div
                        class="w-[300px] h-[400px] bg-blue-500 mt-2 ml-12 float-right"
                    >
                    </div>
                    Hi, I'm Eddy, a freshman at the University of Illinois Urbana-Champaign
                    pursuing a Bachelor of Science in Computer Science. Welcome to
                    my little corner of the internet!
                    <br /><br />
                    I'm an aspiring software engineer with a strong foundation in
                    Python and JavaScript. I love developing digital solutions that
                    enhance user experiences, solve real-world problems, and make
                    a genuine impact.
                    <br /><br />
                    I'm also interested in researching AI safety, especially the
                    alignment problem and transparent machine learning. I want to
                    design intelligent systems whose decision-making is more interpretable
                    and aligned with human values.
                    <br /><br />
                    While I'm not clacking away at my keyboard or brainstorming my
                    next project, you can find me going on walks across campus or
                    jamming to my Vocaloid playlist.
                    <br /><br />
                    This website will serve as my place to document my academic journey,
                    showcase my projects, and hopefully meet like-minded individuals.
                    If any of this interests you or you'd like to collaborate, please
                    reach out through the Contact page—I'd love to connect with you!
                    <br /><br />
                    Thanks for stopping by!
                </div>
            </div>
        </div>
    </div>
</Layout>
