---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import self_image from "../images/self_image.jpg";
---

<Layout title="About">
    <div class="flex justify-center">
        <div class="w-[1100px]">
            <div>
                <h1 class="text-5xl font-semibold">About</h1>
                <div class="text-2xl mt-8 leading-relaxed">
                    <div class="w-[400px] h-[600px] relative ml-12 float-right">
                        <div
                            class="absolute inset-0 translate-x-6 translate-y-6 bg-blue-500 rounded-lg"
                        >
                        </div>
                        <Image
                            src={self_image}
                            alt="Photo of Eddy Jiang"
                            class="relative border-4 border-blue-400 rounded-lg"
                            loading="eager"
                        />
                    </div>
                    <p>
                        Hi, I'm Eddy, a freshman at the University of Illinois
                        Urbana-Champaign pursuing a Bachelor of Science in
                        Computer Science. Welcome to my little corner of the
                        internet!
                    </p>
                    <p class="mt-8">
                        I'm an aspiring software engineer with a strong
                        foundation in Python and JavaScript frameworks. I love
                        developing digital solutions that enhance user
                        experiences, solve real-world problems, and make a
                        genuine impact.
                    </p>
                    <p class="mt-8">
                        I'm also interested in researching AI safety, especially
                        the alignment problem and transparent machine learning.
                        I endeavor to design intelligent systems whose
                        decision-making is more interpretable and aligned with
                        human values.
                    </p>
                    <p class="mt-8">
                        While I'm not clacking away at my keyboard or
                        brainstorming my next project, you can find me going on
                        lengthy strolls across campus or jamming to my Vocaloid
                        playlist.
                    </p>
                    <p class="mt-8">
                        This website will serve as my place to document my
                        academic journey, showcase my projects, and share
                        insights I've gained along the way. If any of this
                        interests you or you'd like to collaborate, please reach
                        out through the Contact page—I'd love to connect with
                        you!
                    </p>
                    <p class="mt-8">Thanks for stopping by!</p>
                </div>
            </div>
        </div>
    </div>
</Layout>
