---
import Layout from "../layouts/Layout.astro";
import TypingIntro from "../components/TypingIntro";
import Card from "../components/Card.astro";
---

<Layout title="Home">
	<div class="flex justify-center space-x-8 mt-20 items-center">
		<div class="flex flex-col w-[600px] h-full">
			<h1 class="text-5xl">Hi! I'm Eddy.</h1>
			<div class="text-5xl mt-2">
				I'm a
				<span class="inline-block text-blue-500 mr-0.5">
					<TypingIntro client:load />
				</span>at UIUC.
			</div>
			<p class="text-2xl mt-8 leading-relaxed">
				I am a BSCS student interested in software engineering,<br />
				AI alignment, and transparent machine learning.
			</p>
		</div>

		<div class="w-[320px] h-[320px] bg-blue-500"></div>
	</div>
	<div class="flex justify-center mt-20 space-x-16">
		<Card
			heading="Latest post:"
			title="Hello, World!"
			description="Hello, World!"
		/>

		<Card
			heading="What I'm working on:"
			title="This website!"
			description="It is indeed what I am working on"
		/>
	</div>
</Layout>
