---
import TypingIntro from "../components/TypingIntro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
	<div class="flex justify-center space-x-8 mt-16">
		<div class="flex flex-col w-[600px] mt-16">
			<div class="text-5xl">Hi! I'm Eddy.</div>
			<div class="text-5xl mt-2">
				I'm a
				<span class="inline-block text-blue-500 mr-1">
					<TypingIntro client:load />
				</span>at UIUC.
			</div>
			<div class="text-2xl mt-8">
				I am a BSCS student interested in AI alignment, transparent
				machine learning, and software engineering.
			</div>
		</div>

		<div class="w-[320px] h-[320px] bg-blue-500"></div>
	</div>
</Layout>
