---
import Layout from "../layouts/Layout.astro";
import TypingIntro from "../components/TypingIntro";
import HomepageCard from "../components/HomepageCard.astro";
import { Image } from "astro:assets";
import headshot from "../images/headshot.jpg";
import { getCollection } from "astro:content";
const posts = await getCollection("posts");
const projects = await getCollection("projects");

const sortedPosts = posts.sort(
	(a, b) => b.data.date.getTime() - a.data.date.getTime(),
);
const sortedProjects = projects.sort((a, b) => {
	const aStartDate = a.data.endDate ? a.data.endDate.getTime() : -Infinity;
	const bStartDate = b.data.endDate ? b.data.endDate.getTime() : -Infinity;
	return aStartDate - bStartDate;
});

const newestPost = sortedPosts[0];
const newestProject = sortedProjects[0];
import { formatDate } from "../utils/formatDate";
---

<Layout title="Home">
	<div class="flex justify-center space-x-8 mt-20 items-center">
		<div class="flex flex-col w-[600px] h-full mt-5">
			<h1 class="text-5xl">Hi! I'm Eddy.</h1>
			<div class="text-5xl mt-2">
				I'm a
				<span class="inline-block text-blue-500 mr-0.5">
					<TypingIntro client:load />
				</span>at UIUC.
			</div>
			<p class="text-2xl mt-8 leading-relaxed">
				I am a BSCS student interested in software engineering,<br />
				AI alignment, and transparent machine learning.
			</p>
		</div>

		<div class="w-[320px] h-[320px] relative">
			<div
				class="absolute inset-0 translate-x-6 translate-y-6 bg-blue-500 rounded-lg"
			>
			</div>
			<Image
				src={headshot}
				alt="Headshot of Eddy Jiang"
				class="relative border-4 border-blue-400 rounded-lg"
				loading="eager"
			/>
		</div>
	</div>
	<div class="flex justify-center mt-24 space-x-16">
		<HomepageCard
			heading="Latest post:"
			title={newestPost.data.title}
			date={"Posted " + formatDate(newestPost.data.date)}
			href={"posts/" + newestPost.slug}
		/>

		<HomepageCard
			heading="What I'm working on:"
			title={newestProject.data.name}
			date={newestProject.data.endDate
				? "Ended " + formatDate(newestProject.data.endDate)
				: "Currently ongoing!"}
			href={"projects/" + newestProject.slug}
		/>
	</div>
</Layout>
