---
import Layout from "../layouts/Layout.astro";
import ContentLayout from "../layouts/ContentLayout.astro";
---

<Layout title="Resume">
    <ContentLayout title="Resume">
        <div class="text-2xl leading-relaxed">
            <p class="mt-8">Resume</p>
        </div>
    </ContentLayout>
</Layout>
