---
import { FaGithub, FaLinkedin } from "react-icons/fa6";
---

<footer class="flex flex-col mt-40">
    <div class="flex justify-center space-x-4">
        <a href="https://github.com/eddysfc" target="_blank">
            <button>
                <FaGithub size={32} />
            </button>
        </a>

        <a href="https://www.linkedin.com/in/eddysfc/" target="_blank">
            <button>
                <FaLinkedin size={32} />
            </button>
        </a>
    </div>

    <div class="text-center mt-1">
        Copyright © 2024 Eddy Jiang. Site source on <a
            class="text-blue-500 hover:text-blue-400"
            href="https://github.com/eddysfc/eddyjiang.com"
            target="_blank">GitHub</a
        >
    </div>
</footer>
