<header class="flex justify-center items-center mt-4 space-x-24">
    <div class="text-2xl space-x-24">
        <button class="relative group">
            Home
            <span
                class="absolute bottom-0 translate-y-0.5 left-1/2 h-0.5 w-0 bg-black transition-all duration-200 ease-out group-hover:left-0 group-hover:w-full"
            ></span>
        </button>

        <button class="relative group">
            About
            <span
                class="absolute bottom-0 translate-y-0.5 left-1/2 h-0.5 w-0 bg-black transition-all duration-200 ease-out group-hover:left-0 group-hover:w-full"
            ></span>
        </button>

        <button class="relative group">
            Projects
            <span
                class="absolute bottom-0 translate-y-0.5 left-1/2 h-0.5 w-0 bg-black transition-all duration-200 ease-out group-hover:left-0 group-hover:w-full"
            ></span>
        </button>
    </div>

    <div class="text-4xl">
        <button class="relative group">
            Eddy Jiang
            <span
                class="absolute bottom-0 translate-y-1 left-1/2 h-0.5 w-0 bg-black transition-all duration-200 ease-out group-hover:left-0 group-hover:w-full"
            ></span>
        </button>
    </div>

    <div class="text-2xl space-x-24">
        <button class="relative group">
            Research
            <span
                class="absolute bottom-0 translate-y-0.5 left-1/2 h-0.5 w-0 bg-black transition-all duration-200 ease-out group-hover:left-0 group-hover:w-full"
            ></span>
        </button>

        <button class="relative group">
            Posts
            <span
                class="absolute bottom-0 translate-y-0.5 left-1/2 h-0.5 w-0 bg-black transition-all duration-200 ease-out group-hover:left-0 group-hover:w-full"
            ></span>
        </button>

        <button class="relative group">
            Contact
            <span
                class="absolute bottom-0 translate-y-0.5 left-1/2 h-0.5 w-0 bg-black transition-all duration-200 ease-out group-hover:left-0 group-hover:w-full"
            ></span>
        </button>
    </div>
</header>
