---
const { title, date, description, slug } = Astro.props;

const formatDate = (date: Date) => {
    const formattedDate = new Intl.DateTimeFormat("en-US", {
        year: "numeric",
        month: "long",
        day: "numeric",
    }).format(date);
    return formattedDate;
};
---

<article
    class="mt-8 mb-16 border border-gray-300 shadow-lg rounded-lg px-12 py-8"
>
    <h2 class="text-4xl text-blue-500">
        {title}
    </h2>
    <p class="mt-2 text-xl">
        {formatDate(date)}
    </p>
    <p class="mt-6 text-2xl leading-relaxed">
        {description}
    </p>
    <a
        href={`/posts/${slug}`}
        class="mt-6 inline-block text-2xl text-white bg-blue-500 px-4 py-1 rounded-lg duration-300 hover:bg-blue-400"
    >
        Read More
    </a>
</article>
