---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
const projects = await getCollection("projects");
const { slug } = Astro.params;
const project = projects.find((projects) => projects.slug === slug);

if (!project) {
    throw new Error(`Project not found for slug ${slug}`);
}

export async function getStaticPaths() {
    const projects = await getCollection("projects");
    return projects.map((project) => ({
        params: { slug: project.slug },
    }));
}

const formatDate = (date: Date | undefined) => {
    const formattedDate = new Intl.DateTimeFormat("en-US", {
        year: "numeric",
        month: "long",
        day: "numeric",
    }).format(date);
    return formattedDate;
};
---

<Layout title={project.data.name}>
    <div class="flex justify-center">
        <div class="w-3/4 relative">
            <a
                href="/projects/"
                class="absolute right-0 top-0 text-2xl text-white bg-blue-500 px-4 py-1 rounded-lg duration-300 hover:bg-blue-400"
            >
                Back to Projects
            </a>
            <h1 class="text-5xl font-semibold">{project.data.name}</h1>
        </div>
    </div>
</Layout>
