---
const { title } = Astro.props;
---

<div class="flex justify-center mt-20">
    <div class="w-3/4 relative">
        <h1 class="text-5xl font-semibold w-4/5 leading-[1.25]">{title}</h1>
        <slot />
    </div>
</div>
