---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ClientRouter } from "astro:transitions";
import { fade } from "astro:transitions";
import "../styles/global.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate={fade({ duration: "0.3s" })}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Home" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>Eddy Jiang | {title}</title>
		<ClientRouter />
	</head>
	<body class="scrollbar-hidden flex flex-col min-h-screen">
		<Header />
		<div class="flex-grow">
			<slot />
		</div>
		<Footer />
	</body>
</html>
